.page{
text-transform: uppercase;
color: var(--basic-black);
background-color: #EEEEEE;
}
/* Variables */
:root{
--basic-black: #000000;
--basic-darc: #333333;
--basic-white: #ffffff;
--basic-blue: #81B3D2;
}
.page__body{
display: flex;
width: 1200px;
margin-left: auto;
margin-right: auto;
flex-direction: column;
font-family: 'PT Sans', sans-serif;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
background: var(--basic-white);
}
img {
max-width: 100%;
height: auto;
}

/* Navigation */
.header-logo{
position: relative;
z-index: 1;
width: 138px;
height: 70px;
padding-left: 110px;
}
.cite__navigation{
list-style: none;
display: flex;
flex-direction: row;
}
.nav__info{
color: var(--basic-black);;
font-size: 14px;
line-height: 26px;
font-weight: bold;
text-decoration: none;
margin-top: 15px;
margin-left: 72px;
}
.nav__foto{
color: var(--basic-black);;
font-size: 14px;
line-height: 26px;
font-weight: bold;
text-decoration: none;
margin-top: 15px;
margin-left: 134px;
}
.nav__maps{
color: var(--basic-black);;
font-size: 14px;
line-height: 26px;
padding-left: 130px;
font-weight: bold;
text-decoration: none;
margin-top: 15px;
}
.nav__link{
color: var(--basic-black);;
font-size: 14px;
line-height: 26px;
padding-left: 147px;
font-weight: bold;
text-decoration: none;
margin-top: 15px;
}
.nav__link::before{
color: var(--basic-black);
}
.nav__link:hover{
color: var(--basic-blue);
}
.nav__link::after{
opacity: 0.3;
}
.nav__maps:before{
color: var(--basic-black);
}
.nav__maps:hover{
color: var(--basic-blue);
}
.nav__maps:after{
opacity: 0.3;
}
.nav__foto:before{
color: var(--basic-black);
}
.nav__foto:hover{
color: var(--basic-blue);
}
.nav__foto:after{
opacity: 0.3;
}
.nav__info:before{
color: var(--basic-black);
}
.nav__info:hover{
color: var(--basic-blue);
}
.nav__info:after{
opacity: 0.3;
}

/* Container */
.container{
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}
.content__head{
font-size: 21px;
}

/* hero */
.hero{
background: url(../img/background\ photo.jpg);
max-width: 1200px;
height: 509px;
transform: translate(0, -15px);
}
.hero__shape{
max-width: 1200px;
height: 57px;
position: relative;
bottom: -25px;
}
.hero__welcome{
position: relative;
margin-top: 77px;
margin-left: 371px;
width: 458px;
height: 350px;
}

/* Content */
.content{
text-align: center;
}
.content__head{
margin-top: 43px;
text-align: center;
font-size: 21px;
line-height: 26px;
font-weight: bold;
}
.content__text{
text-align: center;
font-size: 14px;
line-height: 26px;
font-weight: normal;
}
/* Catalog block*/
.catalog-block{
width: 1200px;
margin-left: auto;
margin-right: auto;
}

/* filter-section */
.filter-img{
position: absolute;
transform: translate(0, -15px);
}
.infrastructure-block{
color: #ffffff;
display: grid;
grid-template-columns:  1fr 1fr 1fr;
position: relative;
margin-left: 70px;
}
.button-button__show{
color: #FFFFFF;
text-transform: uppercase;
font-weight: normal;
font-size: 14px;
line-height: 21px;
text-align: center;
width: 137px;
height: 36px;
background-color: Transparent;
border: 2px solid #ffffff;
box-sizing: border-box;
border-radius: 2px;
}

/* sorting */
.sorting-block{
display: flex;
}
.sorting-block__head{
padding-top: 25px;
padding-left: 73px;
}
.sorting-block__title{
padding-top: 31px;
padding-left: 46px;
}
.sorting-block__subtitle{
padding-top: 31px;
padding-left: 40px;
opacity: 0.3;
}
.sorting-block__type{
padding-top: 31px;
padding-left: 32px;
opacity: 0.3;
}
.sorting-block__subtitle:hover{
color: #81B3D2;
}
.sorting-block__subtitle::after{
color: #000000;
}
.sorting-block__type:hover{
color: #81B3D2;
}
.sorting-block__rating:hover{
color: #81B3D2;
}
.sorting-block__rating{
padding-top: 31px;
padding-left: 33px;
opacity: 0.3;
}

/* booking-section */
.booking{
margin-left: 29px;
margin-top: 23px;
}
.booking-hotel{
display: flex;
margin-top: 60px;
border-top: 1px solid #E5E5E5;;
}
.booking-hotel img{
margin-top: 30px;
margin-left: 73px;
object-fit: contain;
width: 135px;
height: 90px;
}
.hotel-title{
display: flex;
}
.button-details{
font-size: 14px;
line-height: 21px;
margin-right: 6px;
width: 110px;
height: 27px;
color: #ffffff;
background-color: #81B3D2;
text-transform: uppercase;
font-weight: bold;
}
.button-tobook{
font-size: 14px;
line-height: 21px;
width: 142px;
height: 27px;
background-color: #766357;
color: #ffffff;
font-weight: bold;
text-transform: uppercase;
}
.booking-motel{
display: flex;
margin-top: 61px;
border-top: 1px solid #E5E5E5;;
}
.booking-motel img{
margin-top: 30px;
object-fit: contain;
width: 135px;
height: 90px;
margin-left: 73px;
}
.booking-apartments{
display: flex;
margin-top: 61px;
border-top: 1px solid #E5E5E5;;
}
.booking-apartments img{
margin-top: 30px;
object-fit: contain;
width: 135px;
height: 90px;
margin-left: 73px;
}

/* rating */
.rating-hotel{
position: relative;
font-size: 20px;
display: inline-block;
}
.rating-hotel::before{
content: "★★★★";
display: block;
color: #81B3D2;
}
.rating-motel{
position: relative;
font-size: 20px;
display: inline-block;
}
.rating-motel::before{
content: "★★★";
display: block;
color: #81B3D2;
}
.rating-apartments{
position: relative;
font-size: 20px;
display: inline-block;
}
.rating-apartments::before{
content: "★★";
display: block;
color: #81B3D2;
}
.stars-rating{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
display: flex;
flex-direction: row-reverse;
overflow: hidden;
}
.rating__items{
position: absolute;
width: 0%;
height: 0%;
opacity: 0;
visibility: hidden;
top: 0;
left: 0;
}
/* City */
.city{
display: flex;
}
.city-block{
width: 400px;
height: 256px;
padding-top: 47px;
text-align: center;
background-color: #81B3D2;
}
.real__city{
font-size: 21px;
line-height: 21px;
font-weight: bold;
}
.sity__number{
font-size: 14px;
line-height: 21px;
font-weight: normal;
}
.text__city{
font-size: 14px;
line-height: 21px;
font-weight: normal;
}
.city__foto{
object-fit: cover;
width: 800px;
height: 100%;
}

 /* Offers */
.block{
margin: 20px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;
margin: 50px 0px 50px 0px;
}
.title h2{
font-size: 21px;
line-height: 21px;
font-weight: bold;
}
.title p{
font-size: 14px;
line-height: 21px;
font-weight: normal;
}
.subtitle h2{
font-size: 21px;
line-height: 21px;
font-weight: bold;
}
.subtitle p{
font-size: 14px;
line-height: 21px;
font-weight: normal;
}
.block__subtitle h2{
font-size: 21px;
line-height: 21px;
font-weight: bold;
}
.block__subtitle p{
font-size: 14px;
line-height: 21px;
font-weight: normal;
}

/* davil-bridge */
.images-bridge{
width: 800px;
height: 100%;
object-fit: cover;
}
.davil-bridge{
display: flex;
}
.bridge-block{
width: 400px;
height: 256px;
padding-top: 50px;
text-align: center;
background-color: #81B3D2;
}
.title__bridge{
font-size: 21px;
line-height: 21px;
font-weight: bold;
}
.number__bridge{
font-size: 14px;
line-height: 21px;
font-weight: normal;
}
.text__bridge{
font-size: 14px;
line-height: 21px;
font-weight: normal;
}

/* features */
.fetures__list{
background: #EEEEEE;
text-align: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding-top: 47px;
height: 256px;
}
.features__item h2{
font-size: 21px;
line-height: 21px;
font-weight: bold;
}
.features__item p{
font-size: 14px;
line-height: 21px;
font-weight: normal;
}
.features__title h2{
font-size: 21px;
line-height: 21px;
font-weight: bold;
}
.features__title p{
font-size: 14px;
line-height: 21px;
font-weight: normal;
}
.features__subtitle h2{
font-size: 21px;
line-height: 21px;
font-weight: bold;
}
.features__subtitle p{
line-height: 21px;
font-weight: normal;
}

/* search-section */
.map{
width: 1200xp;
height: 473px;
}
.search-form {
    position: relative;
    display: inline-flex;
    justify-content: center;
}
.search-block{
text-align: center;
}
.search-section__head{
text-align: center;
}
.search-section__head h2{
font-size: 30px;
line-height: 24px;
font-weight: bold;
padding-top: 58px;
}
.search-section__head p{
font-size: 14px;
line-height: 21px;
font-weight: normal;
}
.search-section__button{
color: #FFFFFF;
background: #766357;
font-family: 'PT Sans', sans-serif;
width: 568px;
height: 86px;
font-size: 21px;
line-height: 26px;
font-weight: bold;
text-transform: uppercase;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
}
.search-section__button::before{
color: #FFFFFF;
background: #766357;
font-family: 'PT Sans', sans-serif;
font-size: 21px;
line-height: 26px;
font-weight: bold;
}
.search-section__button:hover{
color: #FFFFFF;
background: #604E43;
font-family: 'PT Sans', sans-serif;
font-size: 21px;
line-height: 26px;
font-weight: bold;
}
.search-section__button::after{
color: #FFFFFF;
background: #503E33;
font-family: 'PT Sans', sans-serif;
font-size: 21px;
line-height: 26px;
font-weight: bold;
}
.button-block{
position: absolute;
padding: 55px 55px 54px 55px;
bottom: 0;
transform: translateY(100%);
background: #FFFFFF;
box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}
.date-arrival{
margin-right: 15px;
font-weight: bold;
font-size: 14px;
line-height: 26px;
}
.date-departure{
margin-right: 10px;
font-weight: bold;
font-size: 14px;
line-height: 26px;
}
.input-date__arrival{
margin-bottom: 29px;
width: 346px;
height: 38px;
background-color: #F2F2F2;
}
.input-date__departure{
width: 346px;
height: 38px;
margin-bottom: 30px;
background-color: #F2F2F2;
}
.block-date{
font-size: 14px;
line-height: 26px;
font-weight: bold;
}
.block-people{
display: flex;
justify-content: center;
margin-bottom: 54px;
}
.title-adults{
font-size: 14px;
line-height: 26px;
font-weight: bold;
}
.title-children{
font-size: 14px;
line-height: 26px;
font-weight: bold;
}
.btn{
color: #FFFFFF;
font-size: 21px;
line-height: 27px;
width: 458px;
height: 58px;
background-color: var(--basic-blue);
font-weight: bold;
text-transform: uppercase;
}
.btn:before{
color: #FFFFFF;
font-family: 'PT Sans', sans-serif;
font-size: 21px;
line-height: 27px;
background-color:var(--basic-blue);
font-weight: bold;
}
.btn:hover{
color: #FFFFFF;
font-family: 'PT Sans', sans-serif;
font-size: 21px;
line-height: 27px;
background-color: #669EC0;
font-weight: bold;
}
.btn:after{
color: #FFFFFF;
font-family: 'PT Sans', sans-serif;
font-size: 21px;
line-height: 27px;
background-color: #5496BD;
font-weight: bold;
}

/* Footer */
.social__button{
display: flex;
align-items: center;
justify-content: center;
width: 43px;
height: 43px;
color: inherit;
}
.footer__social{
padding-top: 30px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.main__footer{
text-align: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
background: rgba(255, 255, 255, 0.9);
border-top: 1px solid #E5E5E5;
}
.footer__contact a{
margin-top: 23px;
margin-left: px;
color: var(--basic-black);
font-size: 21px;
line-height: 26px;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
}
.contact__phone{
font-size: 21px;
line-height: 26px;
font-weight: bold;
}
.social{
display: flex;
list-style: none;
text-align: center;
margin: 0 auto;
}
.social__button{
margin: 6px;
background-color:var(--basic-blue);
}
.social__button::before{
background-color: var(--basic-blue)
}
.social__button:hover{
background-color:  #669EC0;
}
.social__button::after{
background-color: #5496BD;
}
.footer-title{
display: flex;
columns: var(--basic-black);
font-size: 14px;
line-height: 26px;
font-weight: normal;
margin-bottom: 45px;
margin-top: 49px;
}
.footer-img{
display: flex;
margin-left: 10px;
margin-bottom: 43px;
margin-top: 40px;
color: #231F20;
}
.footer__website{
background: rgba(255, 255, 255, 0.9);
display: flex;
}
